<!--+++++++++++++++++++++navbar top+++++++++++++++++++++-->
<div class="mt-2 sticky-top mt-3" style="background: blue">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="navbar-brand nav-link text-light pl-5 click" routerLink="">Home</a>
          </li>
        </ul>

        <ul class="navbar-nav me-auto">
          <li class="nav-item dropdown">
            <a class="navbar-brand nav-link text-light pl-5 click dropdown-toggle" routerLink="/angular-overview/list"
               role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Angular Overview
            </a>
          </li>
        </ul>

        <ul class="navbar-nav me-auto">
          <li class="nav-item dropdown">
            <a class="navbar-brand nav-link text-light pl-5 click dropdown-toggle"
               routerLink="/angular-component-template/list"
               role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Angular Component & Template
            </a>
          </li>
        </ul>

        <ul class="navbar-nav me-auto">
          <li class="nav-item dropdown">
            <a class="navbar-brand nav-link text-light pl-5 click dropdown-toggle"
               routerLink="/components-interaction/list"
               role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Components Interaction
            </a>
          </li>
        </ul>

        <ul class="navbar-nav me-auto">
          <li class="nav-item dropdown">
            <a class="navbar-brand nav-link text-light pl-5 click dropdown-toggle"
               routerLink="/angular-form/list"
               role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Angular Form
            </a>
          </li>
        </ul>

        <ul class="navbar-nav me-auto">
          <li class="nav-item dropdown">
            <a class="navbar-brand nav-link text-light pl-5 click dropdown-toggle"
               routerLink="/service-router/list"
               role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Service & Router
            </a>
          </li>
        </ul>

        <ul class="navbar-nav me-auto">
          <li class="nav-item dropdown">
            <a class="navbar-brand nav-link text-light pl-5 click dropdown-toggle" routerLink="/product/list"
               role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Product Management
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
