<!--+++++++++++++++++++++navbar top+++++++++++++++++++++-->
<div class="mt-2 sticky-top mt-3" style="background: blue">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="navbar-brand nav-link text-light pl-5 click" routerLink="">Home</a>
          </li>

          <li class="nav-item dropdown">
            <a class="navbar-brand nav-link text-light pl-5 click dropdown-toggle" routerLink="" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
              Bài Tập và Thực Hành
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li>
                <a class="dropdown-item" routerLink="/angular-overview/list">
                  Angular Overview
                </a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="/angular-component-template/list">
                  Angular Component & Template
                </a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="/components-interaction/list">
                  Components Interaction
                </a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="/angular-form/list">
                  Angular Form
                </a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="/service-router/list">
                  Service & Router
                </a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="/modules-and-dependency-injection/list">
                  Modules & Dependency Injection
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="#">
                  Connected with Back-end
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="navbar-brand nav-link text-light pl-5 click" routerLink="/product/list">Product Management</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
