<!--+++++++++++++++++++++footer+++++++++++++++++++++-->
<div class="position-relative mx-0 bottom-0 row" style="background-color: #addccf; width: 100%">
  <div class="col-md-1"></div>
  <div class="col-md-3 bg-light">
    <h2 class="font-text-footer mt-3">How to Get to Us</h2>
    <p class="font-text">Furama is a premier base for exploring one of Asia’s most exciting new destinations. Just a
      short drive from Danang lay four UNESCO-listed World Heritage Sites:</p>
    <a class="btn btn-outline-light bg-success"
       href="https://www.google.com/maps/place/Furama+Resort+Danang/@16.0429695,108.1788929,13z/data=!4m22!1m13!4m12!1m4!2m2!1d108.1784457!2d16.0564791!4e1!1m6!1m2!1s0x31420fdbc8cc38ef:0x9a6a3e31121225d2!2zRnVyYW1hIFJlc29ydCDEkMOgIE7hurVuZw!2m2!1d108.2510681!2d16.0399456!3m7!1s0x31420fdbc8cc38ef:0x9a6a3e31121225d2!5m2!4m1!1i2!8m2!3d16.0399456!4d108.2510681"
       role="button">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill"
           viewBox="0 0 16 16">
        <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
      </svg>
      <span> View on Map</span>
    </a>
    <h4 class="font-text-footer mt-3">Local Places</h4>
    <table class="table">
      <tbody>
      <tr>
        <td>1.</td>
        <td>The former imperial city of HUE</td>
        <td style="color: #707070">2 hours</td>
      </tr>
      <tr>
        <td>2.</td>
        <td>The ancient Hoi An</td>
        <td style="color: #707070">30 minutes</td>
      </tr>
      <tr>
        <td>3.</td>
        <td>Champa civilization, My Son</td>
        <td style="color: #707070">90 minutes</td>
      </tr>
      <tr>
        <td>4.</td>
        <td>Phong Nha Caves</td>
        <td style="color: #707070">3 hours</td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-8 row">
    <div class="col-md-5 d-flex justify-content-center mt-5">
      <ul style="list-style-type: disc; color: darkgreen">
        <li class="my-3"><a href="#" style="color: #707070; text-decoration: none">Rack Rate</a></li>
        <li class="my-3"><a href="#" style="color: #707070; text-decoration: none">Lifestyle Blog</a></li>
        <li class="my-3"><a href="#" style="color: #707070; text-decoration: none">Work with us</a></li>
        <li class="my-3"><a href="#" style="color: #707070; text-decoration: none">Contact us</a></li>
      </ul>
    </div>
    <div class="col-md-6 mt-5">
      <h2 style="color: #cbbe73; font-family: 'Playfair Display', sans-serif">Contact US</h2>
      <div class="row">
        <div class="col-md-1">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="green" class="bi bi-geo-alt-fill"
               viewBox="0 0 16 16">
            <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z"/>
          </svg>
        </div>
        <div class="col-md-10 m-0 footer-font-size">
          <p style="color: #707070; font-size: 14px">103 - 105 Vo Nguyen Giap Street, Khue My Ward, Ngu Hanh Son
            District, Danang City, Vietnam</p>
          <p style="color: #707070; font-size: 14px">Tel.: 84-236-3847 333/888 * Fax: 84-236-3847 666</p>
          <p style="color: #707070; font-size: 14px"> Email: reservation@furamavietnam.com * www.furamavietnam.com</p>
          <p style="color: #707070; font-size: 14px">GDS Codes: Amadeus-GD DADFUR, Galileo/Apollo-GD 16236,Sabre-GD
            032771, Worldspan- GD DADFU</p>
          <hr>
          <a href="https://www.facebook.com/furamaresort/" target="_blank" rel="noopener">
            <img style="width: 32px;height: 32px;float: left"
                 src="https://furamavietnam.com/wp-content/uploads/2019/06/incon-Facbook-1.png" alt=""
                 width="32" height="32"/>
          </a>
          <a href="https://www.instagram.com/furama_resort_danang/?hl=vi" target="_blank" rel="noopener">
            <img style="width: 40px;height: 32px;float: left"
                 src="https://furamavietnam.com/wp-content/uploads/2019/06/social-ins.png" alt="" width="40"
                 height="32"/>
          </a>
          <a href="https://www.youtube.com/user/furamaresortvietnam/featured" target="_blank" rel="noopener">
            <img style="width: 40px;height: 32px;float: left"
                 src="https://furamavietnam.com/wp-content/uploads/2021/10/social-youtube.png" alt=""
                 width="40" height="32"/>
          </a>
        </div>
      </div>
    </div>
    <div class="col-md-7 d-flex justify-content-center align-content-center">
      <img src="https://furamavietnam.com/wp-content/uploads/2023/03/Ariyana-Tourism-Complex-02-500x131.png"
           alt="Ariyana Tourism Complex" width="500px">
    </div>
    <div class="col-md-5 d-flex justify-content-center align-items-center">
      <span>© 2023 Furama Resort Danang.</span>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
