<!--+++++++++++++++++++++navbar top+++++++++++++++++++++-->
<div class="mt-2 sticky-top mt-3" style="background: #046056">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="navbar-brand nav-link text-light pl-5 click" routerLink="">Home</a>
          </li>
        </ul>

        <ul class="navbar-nav me-auto">
          <li class="nav-item dropdown">
            <a class="navbar-brand nav-link text-light pl-5 click dropdown-toggle" routerLink="/customer/list"
               role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Customer
            </a>
            <div class="dropdown-menu ml-5" style="background: #addccf">
              <a style="background: #addccf" class="dropdown-item" routerLink="/customer/create">Create Customer</a>
            </div>
          </li>
        </ul>

        <ul class="navbar-nav me-auto">
          <li class="nav-item dropdown">
            <a class="navbar-brand nav-link text-light pl-5 click dropdown-toggle" routerLink="/employee/list"
               role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Employee
            </a>
            <div class="dropdown-menu ml-5" style="background: #addccf">
              <a style="background: #addccf" class="dropdown-item" routerLink="/employee/create">Create Employee</a>
            </div>
          </li>
        </ul>

        <ul class="navbar-nav me-auto">
          <li class="nav-item dropdown">
            <a class="navbar-brand nav-link text-light pl-5 click dropdown-toggle" routerLink="/facility/list"
               role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Facility
            </a>
            <div class="dropdown-menu ml-5" style="background: #addccf">
              <a style="background: #addccf" class="dropdown-item" routerLink="/facility/create">Create Facility</a>
            </div>
          </li>
        </ul>

        <ul class="navbar-nav me-auto">
          <li class="nav-item dropdown">
            <a class="navbar-brand nav-link text-light pl-5 click dropdown-toggle" routerLink="/contract/list"
               role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Contract
            </a>
            <div class="dropdown-menu ml-5" style="background: #addccf">
              <a style="background: #addccf" class="dropdown-item" routerLink="/contract/create">Create Contract</a>
            </div>
          </li>
        </ul>

        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-light" type="button">Search</button>
        </form>
      </div>
    </div>
  </nav>
</div>
