<div class="col-md-2 p-0">
  <ul class="list-group">
    <li class="list-group-item">
      <a routerLink="/angular-form/todo" style="text-decoration: none">
        <span>Ứng dụng todo</span>
      </a>
    </li>
  </ul>
  <ul class="list-group">
    <li class="list-group-item">
      <a routerLink="/angular-form/register" style="text-decoration: none">
        <span>Form đăng ký</span>
      </a>
    </li>
  </ul>
  <ul class="list-group">
    <li class="list-group-item">
      <a routerLink="/angular-form/login" style="text-decoration: none">
        <span>Form đăng nhập</span>
      </a>
    </li>
  </ul>
</div>
