<div class="col-md-2 p-0">
  <ul class="list-group">
    <li class="list-group-item">
      <a routerLink="/components-interaction/name-card" style="text-decoration: none">
        <span>Ứng dụng Name-Card</span>
      </a>
    </li>
  </ul>
  <ul class="list-group">
    <li class="list-group-item">
      <a routerLink="/components-interaction/progress-bar" style="text-decoration: none">
        <span>Ứng dụng Progress Bar</span>
      </a>
    </li>
  </ul>
  <ul class="list-group">
    <li class="list-group-item">
      <a routerLink="/components-interaction/rating-bar" style="text-decoration: none">
        <span>Ứng dụng bình chọn</span>
      </a>
    </li>
  </ul>
  <ul class="list-group">
    <li class="list-group-item">
      <a routerLink="/components-interaction/countdown-timer" style="text-decoration: none">
        <span>Ứng dụng countdown</span>
      </a>
    </li>
  </ul>
</div>
