<div class="col-md-2 p-0">
  <ul class="list-group">
    <li class="list-group-item">
      <a routerLink="/angular-overview/font-size-editor" style="text-decoration: none">
        <span>Chức năng thay đổi font-size</span>
      </a>
    </li>
  </ul>
  <ul class="list-group">
    <li class="list-group-item">
      <a routerLink="/angular-overview/pet" style="text-decoration: none">
        <span>Hiển thị thông tin thú nuôi</span>
      </a>
    </li>
  </ul>
  <ul class="list-group">
    <li class="list-group-item">
      <a routerLink="/angular-overview/calculator" style="text-decoration: none">
        <span>Ứng dụng máy tính đơn giản</span>
      </a>
    </li>
  </ul>
  <ul class="list-group">
    <li class="list-group-item">
      <a routerLink="/angular-overview/color" style="text-decoration: none">
        <span>Xây dựng ứng dụng color picker</span>
      </a>
    </li>
  </ul>
</div>
