<div class="col-md-2 p-0">
  <ul class="list-group">
    <li class="list-group-item">
      <a routerLink="/service-router/timelines" style="text-decoration: none">
        <span>Ứng dụng tính thời gian đã sống</span>
      </a>
    </li>
  </ul>
  <ul class="list-group">
    <li class="list-group-item">
      <a routerLink="/service-router/youtube" style="text-decoration: none">
        <span>Ứng dụng nghe nhạc</span>
      </a>
    </li>
  </ul>
  <ul class="list-group">
    <li class="list-group-item">
      <a routerLink="/service-router/dictionary-page/list" style="text-decoration: none">
        <span>Ứng dụng tra cứu từ điển</span>
      </a>
    </li>
  </ul>
</div>
