<!--+++++++++++++++++++++slide+++++++++++++++++++++-->
<div>
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
              aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
              aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
              aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../assets/image/card/Vietnam_Danang_Furama_Resort_Exterior-Furama-girl-with-pink-hat.jpg"
             class="d-block w-100" alt="..." height="500px">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/image/card/Vietnam_Danang_Furama_Resort_Exterior_Courtyard.jpg" class="d-block w-100"
             alt="..." height="500px">
      </div>
      <div class="carousel-item">
        <img src="../../../assets/image/card/Vietnam_Danang_Furama_Resort_Exterior_Ocean-Pool-6.jpg"
             class="d-block w-100" alt="..." height="500px">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>+
<br>
<div class="container mt-3 mb-0">
  <div class="row">
    <div class="col-md-4 m-0">
      <h2 class="font-text-footer" style="font-size: 24px">
        THE WORLD-CLASS RESORT,<br>
        FURAMA DANANG, <br>
        IS FAMOUS AS A FOOD RESORT IN VIETNAM.
      </h2>
    </div>
    <div class="col-md-4 m-0">
      <iframe src="https://www.youtube.com/embed/IjlT_4mvd-c" title="YouTube video player" frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
              allowfullscreen style="height: 300px; width: 400px">
      </iframe>
    </div>
    <div class="col-md-4 m-0">
      <p class="font-text">
        Facing the white sandy beach of Da Nang, Furama Resort Danang is the gateway to 3 world cultural
        heritages: Hoi An (20 minutes), My Son (90 minutes) and Hue (2 hours, 196 rooms. Villas from two to four
        bedrooms with private pools are tastefully decorated, in traditional Vietnamese design style and French
        colonial architecture, making Furama a prestigious resort in Vietnam - honor attended to welcome many
        celebrities, royalty, politicians, movie stars and international business leaders.
      </p>
    </div>
  </div>
</div>
<br><br>
<!--+++++++++++++++++++++content intro+++++++++++++++++++++-->
<div class="container">
  <div class="row mt-3">
    <div class="col-md-6">
      <img src="https://furamavietnam.com/wp-content/uploads/2018/07/CULIRARY.jpg" alt="" width="100%">
    </div>
    <div class="col-md-6 px-3">
      <h2 class="font-text-footer">CULINARY</h2>
      <p class="font-text">
        The resort’s culinary experience features a mixture of the authentic and locally inspired Vietnamese, Asian,
        Italian and other European cuisines plus the best imported steaks. The resort presents guests with varied
        gastronomic venues – the hip and breezy bar overlooking the beach, the exclusive Lagoon pool surrounded by a
        tropical garden, the true Italian flare offered at the Don Cipriani’s, the refined Asian touch at Café
        Indochine or the authentic central Vietnam cuisine at the Danaksara.
      </p>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-6 px-3">
      <h2 class="font-text-footer">MEETING & EVENT</h2>
      <p class="font-text">
        A well-appointed International Convention Palace with ballrooms can accommodate up to 1,000 people in style,
        with another ten function rooms for 50 to 300 people each. A variety of cultural-themed parties on the beach or
        around the lagoon, in the ballrooms or outside the resort, with the surprising arrivals of VIPs from Helicopter
        landing on the resort’s own Helipad…
      </p>
    </div>
    <div class="col-md-6">
      <img src="https://furamavietnam.com/wp-content/uploads/2018/10/02.-ICP-ICP_Furama_Danang_-Ball-Room-4.jpg" alt=""
           width="100%">
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-md-6">
      <img src="https://furamavietnam.com/wp-content/uploads/2018/07/RECREATION.jpg" alt="" width="100%">
    </div>
    <div class="col-md-6 px-3">
      <h2 class="font-text-footer">RECREATION</h2>
      <p class="font-text">
        A full range of Water Sports will keep you busy. Stop by the Water Sport House where our experienced staff are
        waiting to assist or train you in the use of any of our equipment.
      </p>
    </div>
  </div>
</div>
<br><br><br>
