<h2 class="text-success text-center">Register</h2>
<form class="container" [formGroup]="registerForm" (ngSubmit)="createAccount()" *ngIf="registerForm">
  <div class="form-group">
    <label for="id">Email: <span class="text-danger">*</span></label>
    <input type="text" class="form-control" id="id" placeholder="Enter email" formControlName="email">
  </div>
  <div class="alert alert-danger" role="alert"
       *ngIf="registerForm.get('email').invalid && (registerForm.get('email').touched || registerForm.get('email').dirty)">
    Email không đúng định dạng
  </div>

  <br>

  <div formGroupName="pass">
    <div class="form-group">
      <label>Password: <span class="text-danger">*</span></label>
      <input type="password" formControlName="password" class="form-control" aria-describedby="emailHelp">
      <div class="alert alert-danger" role="alert"
           *ngIf="registerForm.get('pass').invalid && (registerForm.get('pass').touched||registerForm.get('pass').dirty)">
        Pass is not valid
      </div>
    </div>
    <br>
    <div class="form-group">
      <label>Confirm Password <span class="text-danger">*</span></label>
      <input type="password" formControlName="confirmPassword" class="form-control" aria-describedby="emailHelp">
      <div class="alert alert-danger" role="alert"
           *ngIf="registerForm.get('pass').invalid && (registerForm.get('pass').touched||registerForm.get('pass').dirty)">
        Pass is not valid
      </div>
    </div>

    <div class="text-warning" *ngIf="registerForm.hasError('passwordNotMatch',['pass'])
      && registerForm.hasError('minlength')">
      Password does not match
    </div>
  </div>

  <br>

  <div class="form-group">
    <label for="country">Country: <span class="text-danger">*</span></label>
    <select class="form-select" id="country" formControlName="country">
      <option value="1">Huế</option>
      <option value="2">Hà Nội</option>
      <option value="3">Đà Nẵng</option>
      <option value="4">HCM</option>
      <option value="5">Quảng Nam</option>
    </select>
  </div>
  <div class="alert alert-danger" role="alert"
       *ngIf="registerForm.get('country').invalid && (registerForm.get('country').touched || registerForm.get('country').dirty)">
    Thành phố chưa chọn
  </div>

  <br>

  <div class="form-group">
    <label for="age">Age: <span class="text-danger">*</span></label>
    <input type="number" class="form-control" id="age" placeholder="Enter age" formControlName="age">
  </div>
  <div class="alert alert-danger" role="alert"
       *ngIf="registerForm.get('age').invalid && (registerForm.get('age').touched || registerForm.get('age').dirty)">
    Tuổi phải lớn hơn hoặc bằng 18
  </div>

  <br>

  <div class="form-group">
    <label for="female">Gender: <span class="text-danger">*</span></label>
    <div class="form-line">
      <input type="radio" id="male" name="gender" value="male" formControlName="gender">
      <label for="male">Male</label>
      <input type="radio" id="female" name="gender" value="female" formControlName="gender">
      <label for="female">Female</label>
      <input class="ml-3" type="radio" id="others" name="gender" value="others" formControlName="gender">
      <label for="others">Others</label>
    </div>
  </div>
  <div class="alert alert-danger" role="alert"
       *ngIf="registerForm.get('gender').invalid && (registerForm.get('gender').touched || registerForm.get('gender').dirty)">
    Chưa chọn giới tính
  </div>

  <br>

  <div class="form-group">
    <label for="phone">Phone: <span class="text-danger">*</span></label>
    <input type="text" class="form-control" id="phone" placeholder="Enter phone" formControlName="phone">
  </div>
  <div class="alert alert-danger" role="alert"
       *ngIf="registerForm.get('phone').invalid && (registerForm.get('phone').touched || registerForm.get('phone').dirty)">
    Số điện thoại không đúng định dạng
  </div>

  <br><br>

  <div class="text-center">
    <button class="btn btn-info mr-1" type="submit" [disabled]="registerForm.invalid">Create</button>
    <button class="btn btn-danger" type="reset">Cancel</button>
  </div>
</form>
